<%- include('../partials/adminPartials/adminHead') -%>

    <%- include('../partials/adminPartials/adminSideNavbar') -%>

        <%- include('../partials/adminPartials/adminNavbarHead') -%>

            <style>
                #imagePreview .image {
                    height: 100px;
                    width: 100px;
                }

                #imagePreview .image img {
                    height: 100%;
                    width: 100%;
                }

                #imagePreview .image span {
                    position: absolute;
                    cursor: pointer;
                    font-size: 22px;
                    color: rgb(255, 0, 0);
                }

                #imagePreview .image span:hover {
                    opacity: 0.8;
                }

                #imagePreview .span--hidden {
                    visibility: hidden;
                }
            </style>

            <section class="content-main">
                <div class="row">
                    <div class="col-6">
                        <div class="content-header">
                            <h2 class="content-title">Edit Product</h2>
                            <div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="card mb-4">
                            <div class="card-body">
                                <form id="edit-product-form" method="POST" action="/admin/edit-product" enctype="multipart/form-data"
                                    id="edit-product-form">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <h6>1. General info</h6>
                                        </div>
                                        <input type="hidden" id="productId" name="productId" value="<%= product._id %>">
                                        <div class="col-md-9">
                                            <div class="mb-4">
                                                <label class="form-label">Product Name</label>
                                                <input id="name" name="name" type="text" value="<%= product.name %>"
                                                    class="form-control">
                                            </div>
                                            <div class="mb-4">
                                                <label class="form-label">Description</label>
                                                <textarea id="description" name="description" class="form-control"
                                                    rows="4"><%= product.description %></textarea>
                                            </div>
                                            <div class="mb-4">
                                                <label class="form-label">Brand Name</label>
                                                <input id="brand" name="brand" type="text" value="<%= product.brand %>"
                                                    class="form-control">
                                            </div>
                                            <div class="mb-4">
                                                <label class="form-label">Size</label>
                                                <input id="size" name="size" type="text" value="<%= product.size %>"
                                                    class="form-control">
                                            </div>
                                        </div> <!-- col.// -->
                                    </div> <!-- row.// -->
                                    <hr class="mb-4 mt-0">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <h6>2. Pricing</h6>
                                        </div>
                                        <div class="col-md-9">
                                            <div class="mb-4">
                                                <label class="form-label">Cost in Rupees</label>
                                                <input name="price" id="price" type="number" value="<%= product.price %>"
                                                    class="form-control">
                                            </div>
                                        </div> <!-- col.// -->
                                    </div> <!-- row.// -->
                                    <hr class="mb-4 mt-0">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <h6>3. Category</h6>
                                        </div>
                                        <div class="col-md-9">
                                            <div class="mb-4">
                                                <select id="category" name="categoryId">
                                                    <% for( let category of categories ) { %>
                                                        <% if (product.category) {%>
                                                            <option value="<%= category._id %>" <% if
                                                                (product.category.name==category.name) {%>selected<%} %>
                                                                    >
                                                                    <%= category.name %>
                                                            </option>
                                                            <% } else { %>
                                                                <option value="none" selected disabled hidden>Select a
                                                                    category</option>
                                                                <option value="<%= category._id %>">
                                                                    <%= category.name %>
                                                                </option>
                                                                <% } %>
                                                                    <% } %>
                                                </select>
                                            </div>
                                        </div> <!-- col.// -->
                                    </div> <!-- row.// -->
                                    <hr class="mb-4 mt-0">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <h6>4. Inventory</h6>
                                        </div>
                                        <div class="col-md-9">
                                            <div class="mb-4">
                                                <label class="form-label">Stock quantity</label>
                                                <input id="stock" name="stock" type="number" value="<%= product.stock %>"
                                                    class="form-control">
                                            </div>
                                        </div> <!-- col.// -->
                                    </div> <!-- row.// -->
                                    <hr class="mb-4 mt-0">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <h6>5. Media</h6>
                                        </div>
                                        <div class="col-md-9">
                                            <div class="mb-4">
                                                <label class="form-label">Images</label>
                                                <input name="images" id="inputImage" class="form-control" type="file"
                                                    multiple="multiple" accept="image/jpeg, image/png, image/jpg">
                                            </div>
                                        </div> <!-- col.// -->
                                    </div>
                                    <!-- Image preview div -->
                                    <div id="imagePreview" class="row">
                                    </div>
                                    <hr class="mb-4 mt-0">
                                    <div class="row">
                                        <div class="col-md-3 offset-md-8">
                                            <button type="submit" class="btn btn-md rounded font-sm">Edit
                                                product</button>
                                        </div> <!-- col.// -->
                                    </div> <!-- .row end// -->
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </section> <!-- content-main end// -->

            <script>
                const output = document.getElementById("imagePreview");
                const input = document.getElementById("inputImage");
                let imagesArrayDB = [];

                if ('<%= product.image %>') {
                    const imagesString = "<%= product.image %>";
                    imagesArrayDB = imagesString.split(',');
                }

                let imagesArray = [];

                displayImages();

                function displayImages() {
                    const productId = '<%= product._id %>';
                    let imagesHTML = "";
                    
                    imagesArrayDB.forEach((image, index) => {
                        const imageSrc = '/images/product-images/' + image;
                        imagesHTML += `
                            <div class="col-md-3 m-3 image" id="image-${index}" data-from-db="true">
                                <img src="${imageSrc}" alt="image">
                                <span onclick="deleteDbImage('${productId}', '${image}', ${index})">&times;</span>
                            </div>
                        `;
                    });

                    imagesArray.forEach((image, index) => {
                        imagesHTML += `
                            <div class="col-md-3 m-3 image" id="uploaded-image-${index}" data-from-db="false">
                                <img src="${URL.createObjectURL(image)}" alt="uploaded-image">
                                <span onclick="deleteLocalImage(${index})">&times;</span>
                            </div>
                        `;
                    });

                    output.innerHTML = imagesHTML;
                }

                input.addEventListener("change", () => {
                    let allowedExtensions = 
                        /\.(jpg|jpeg|png|)$/i;  
                    const files = input.files;
                    for (let i = 0; i < files.length; i++) {
                        const file = files[i];
                        const fileName = file.name;
                        const fileSize = file.size;
                        if (!allowedExtensions.test(fileName)){
                            alert(`Invalid file type for ${fileName}. Only JPG, JPEG, or PNG files are allowed`);
                            file = ''
                        } else if (fileSize > 5 * 1024 * 1024) {
                            alert(`File size exceeds 5MB limit for ${fileName}.`)
                            file = ''
                        } else {
                            imagesArray.push(file);
                        }
                    }
                    displayImages();
                });

                function deleteLocalImage(index) {
                    imagesArray.splice(index, 1);
                    displayImages();
                }

                function deleteDbImage(productId, image, index) {
                    Swal.fire({
                        title: "Are you sure?",
                        text: "You cannot retrieve this!",
                        icon: "warning",
                        showCancelButton: true,
                        confirmButtonColor: "#3085d6",
                        cancelButtonColor: "#d33",
                        confirmButtonText: "Yes, delete it!"
                    }).then((result) => {
                        if (result.isConfirmed) {
                            fetch('/admin/delete-product-image', {
                                method: 'DELETE',
                                headers: {
                                    'Content-Type': 'application/json'
                                },
                                body: JSON.stringify({
                                    productId: productId,
                                    image: image
                                })
                            })
                            .then(response => response.json())
                            .then(json => {
                                if(json.success == false){
                                    Swal.fire({
                                    icon: 'error',
                                    title: 'Error',
                                    text: json.message
                                });
                                } else {
                                    const imageElement = document.getElementById(`image-${index}`);
                                    if (imageElement) {
                                        imageElement.remove();
                                    } else {
                                        throw new Error('Failed to delete image from the db');
                                    }
                                }
                            })
                            .catch(error => {
                                console.error('Error deleting image from the db:', error);
                                Swal.fire({
                                    icon: 'error',
                                    title: 'Error',
                                    text: 'Failed to delete image from the db. Please try again.'
                                });
                            });
                        }
                    });
                }

                const sweetAlert = function(message){
                    Swal.fire({
                            icon: 'error',
                            title: 'Validation Error',
                            text: message,
                        });
                }

                const editProductForm = document.getElementById("edit-product-form");

                editProductForm.addEventListener("submit", (event) => {
                    event.preventDefault(); 
                    
                    // Perform form validation here
                    const productName = document.getElementById("name").value;
                    const description = document.getElementById("description").value;
                    const brand = document.getElementById("brand").value;
                    const size = document.getElementById("size").value;
                    const price = parseFloat(document.getElementById("price").value);
                    const category = document.getElementById("category").value;
                    const stock = parseFloat(document.getElementById("stock").value);

                    console.log(productName)

                    if (productName.trim() === '') {
                        sweetAlert('Product name is required')
                        return; 
                    }
                    if (description.trim() === '') {
                        sweetAlert('Description is required')
                        return; 
                    }
                    if (brand.trim() === '') {
                        sweetAlert('Brand is required')
                        return; 
                    }
                    if (size.trim() === ''){
                        sweetAlert('Size is required')
                        return
                    }
                    if (isNaN(price) || typeof price != 'number' || price <= 0){
                        sweetAlert('Price cannot be empty and zero or only can only be number')
                        return
                    }
                    if (isNaN(stock) || typeof stock != 'number' || stock <= 0){
                        sweetAlert('Stock cannot be empty and zero or can only be number')
                        return
                    }
                
                    editProductForm.submit();
                });

                <% if (typeof errorMessage !== 'undefined') { %>
                    alert('<%= errorMessage %>')
                <% } %>
            </script>



            <%- include('../partials/adminPartials/adminFooter') -%>