<%- include('../partials/adminPartials/adminHead') -%> <%-
include('../partials/adminPartials/adminSideNavbar') -%> <%-
include('../partials/adminPartials/adminNavbarHead') -%>

<section class="content-main">
  <div class="content-header">
    <div>
      <h2 class="content-title card-title">Edit Categories</h2>
      <p>Edit the category</p>
    </div>
    <div>
      <input
        type="text"
        placeholder="Search Categories"
        class="form-control bg-white"
      />
    </div>
  </div>
  <!-- alert container -->
  <div class="container mb-4 d-none" id="alertContainer">
    <div id="myAlert" class="alert alert-danger" role="alert">

    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-5">
          <form
            action="/admin/edit-category"
            method="POST"
            id="category"
          >
            <div class="mb-4">
              <label for="categoryName" class="form-label">Name</label>
              <input
                type="text"
                id="categoryName"
                name="categoryName"
                value="<%= category.name %>"
                placeholder="Type here"
                class="form-control"
              />
            </div>
            <input 
              type="hidden"
              name="categoryId"
              value="<%= category._id %>"
            />
            <div class="mb-4">
              <label class="form-label">Description</label>
              <textarea
                name="categoryDescription"
                id="categoryDescription"
                placeholder="Type here"
                class="form-control"
              >
              <%= category.description %>
            </textarea>
            </div>
            <div class="d-grid">
              <button type="submit" class="btn btn-primary">
                Edit category
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>  
</section>

<script>
  document.getElementById('category').addEventListener('submit', function(event) {
    event.preventDefault(); 

    const formData = new FormData(this);
    console.log(formData)
    const actionUrl = this.getAttribute('action');

    const options = {
      method: 'POST',
      body: JSON.stringify(Object.fromEntries(formData)),
      headers: {
        'Content-Type': 'application/json', 
      },
    };

    fetch(actionUrl, options)
      .then(response => response.json()) 
      
      .then(data => {
        console.log(data)
        showAlert(data.message, data.success);
      })
      .catch(error => {
        console.error('Error:', error);
        showAlert('An error occurred while processing your request.');
      });
  });

  function showAlert(message, success) {
    const alertContainer = document.getElementById('alertContainer');
    const myAlert = document.getElementById('myAlert');
    if (success == false) {
      myAlert.classList.remove('alert-success');
      myAlert.classList.add('alert-danger');
    } else {
      myAlert.classList.remove('alert-danger');
      myAlert.classList.add('alert-success');
    }
    myAlert.textContent = message;

    alertContainer.classList.remove('d-none');
    alertContainer.classList.add('d-block');

    setTimeout(() => {
      alertContainer.classList.remove('d-block');
      alertContainer.classList.add('d-none');
    }, 3000);
  }
</script>

<%- include('../partials/adminPartials/adminFooter') -%>
