<%- include('../partials/adminPartials/adminHead') -%>

    <%- include('../partials/adminPartials/adminSideNavbar') -%>

        <%- include('../partials/adminPartials/adminNavbarHead') -%>

            <section class="content-main">
                <div class="content-header">
                    <div>
                        <h2 class="content-title card-title">Products List</h2>
                        <p>Add, edit, delete products.</p>
                    </div>
                    <div>
                        <a href="/admin/add-product" class="btn btn-primary btn-sm rounded">Add new product</a>
                    </div>
                </div>
                <div class="card mb-4">
                    <div id="product-list-div">
                        <header class="card-header">
                            <div class="row align-items-center">

                                <div class="col-lg-4 col-sm-4 col-8 flex-grow-1">Product</div>
                                <div class="col-lg-2 col-sm-2 col-4">Price</div>
                                <div class="col-lg-2 col-sm-2 col-4">Status</div>
                                <div class="col-lg-1 col-sm-2 col-4">Stock</div>
                                <div class="col-lg-1 col-sm-2 col-4">Offer Action</div>
                                <div class="col-lg-2 col-sm-2 col-4 text-end">Action</div>
                            </div>
                        </header>
                        <!-- card-header end// -->
                        <!-- itemlist  .// -->
                        <% for( let product of products ) { %>
                            <article class="itemlist">
                                <div class="row align-items-center">
                                    <div class="col-lg-4 col-sm-4 col-8 flex-grow-1 col-name">
                                        <a class="itemside" href="#">
                                            <div class="left">
                                                <img src="/images/product-images/<%= product.image[0] %>"
                                                    class="img-sm img-thumbnail" alt="Item" />
                                            </div>
                                            <div class="info">
                                                <h6 class="mb-0">
                                                    <%= product.name %>
                                                </h6>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-lg-2 col-sm-2 col-4 col-price"><span>
                                            <%= product.price %>
                                        </span></div>
                                    <div class="col-lg-2 col-sm-2 col-4 col-status">
                                        <span class="badge rounded-pill alert-warning">Archived</span>
                                    </div>
                                    <div class="col-lg-1 col-sm-2 col-4 col-stock">
                                        <span>
                                            <%= product.stock %>
                                        </span>
                                    </div>
                                    <div class="col-lg-1 col-sm-2 col-4 col-offer">
                                        <% if(!product.offer){ %>
                                            <button type="button"
                                                class="addOfferBtn btn btn-warning btn-sm font-sm offerbtn"
                                                data-toggle="modal" data-target="#offerModal"
                                                data-productId="<%= product._id %>">
                                                Add offer
                                            </button>
                                            <p>No offer</p>
                                            <% }else{ %>
                                                <button type="button" class="btn btn-danger btn-sm font-sm"
                                                    onclick="removeProductOffer('<%= product._id %>')">
                                                    Remove offer
                                                </button>
                                                <p>Offer: <%= product.offer.name %>(<%= product.offer.percentage %>%)</p>
                                                <% } %>
                                    </div>
                                    <div class="col-lg-2 col-sm-2 col-4 col-action text-end">
                                        <div class="action-buttons">
                                            <% if (product.isList==true) { %>
                                                <button type="button" class="btn list-unlist-btn btn-secondary btn-sm"
                                                    style="padding: 5px; width: 50px"
                                                    data-product-id="<%= product._id %>"
                                                    data-is-list="<%= product.isList %>">
                                                    Unlist
                                                </button>
                                                <% } else { %>
                                                    <button type="button"
                                                        class="btn list-unlist-btn btn-secondary btn-sm"
                                                        style="padding: 5px; width: 50px"
                                                        data-product-id="<%= product._id %>"
                                                        data-is-list="<%= product.isList %>">
                                                        List
                                                    </button>
                                                    <% } %>
                                                        <a href="/admin/edit-product/<%= product._id %>">
                                                            <button type="button"
                                                                class="btn edit-btn btn-primary btn-sm"
                                                                style="padding: 5px"
                                                                data-product-id="<%= product._id %>">
                                                                Edit
                                                            </button></a>
                                                        <button type="button" class="btn delete-btn btn-danger btn-sm"
                                                            style="padding: 5px" data-product-id="<%= product._id %>">
                                                            Delete
                                                        </button>
                                        </div>
                                    </div>
                                </div>
                                <!-- row .// -->
                            </article>
                            <!-- itemlist  .// -->
                            <% } %>
                    </div>
                </div>
                <!-- card-body end// -->
                <div class="modal fade" id="offerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Select Offer</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <% if(offers && offers.length> 0) { %>
                                    <ul class="list-group">
                                        <% offers.forEach((offerItem)=> { %>
                                            <li class="list-group-item">
                                                <div>
                                                    <h6>
                                                        <%= offerItem.name %>
                                                    </h6>
                                                    <p>Starting Date: <%= offerItem.startingDate.toLocaleDateString() %>
                                                    </p>
                                                    <p>Expiry Date: <%= offerItem.expiryDate.toLocaleDateString() %>
                                                    </p>

                                                    <a href="#" class="btn btn-warning btn-sm apply-btn" data-offerid="<%= offerItem._id %>"
                                                        >Apply</a>
                                                </div>
                                            </li>
                                            <% }) %>
                                    </ul>
                                    <% } else { %>
                                        <p>No offers available.</p>
                                        <% } %>
                            </div>

                            <!-- <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                          <button type="button" class="btn btn-primary">Save changes</button>
                        </div> -->
                        </div>
                    </div>
                </div>
                <!-- Pagination links -->
                <% if (totalPages) { %>
                    <div class="pagination-area mt-30 mb-50">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-start">
                                <% for (let i=1; i <=totalPages; i++) { %>
                                    <li class="page-item">
                                        <a class="page-link" href="javascript:void(0)" onclick="fetchProduct(<%= i %>)">
                                            <%= i %>
                                        </a>
                                    </li>
                                    <% } %>
                            </ul>
                        </nav>
                    </div>
                    <% } %>
            </section>

            <script src="/admin/js/productList.js" type="text/javascript"></script>

            <script>

                function fetchProduct(page) {
                    fetch(`/admin/products?page=${page}`)
                        .then(response => {
                            if (!response.ok) {
                                throw new Error('Network response was not ok');
                            }
                            return response.json();
                        })
                        .then(data => {
                            console.log(data.products)
                            updateProductList(data.products)
                        })
                        .catch(error => {
                            console.error('Error fetching products:', error);
                        });
                }

                function updateProductList(products) {
                    let productListDiv = document.getElementById('product-list-div');
                    productListDiv.innerHTML = '';
                    products.forEach(product => {
                        var productItem = `
                        <article class="itemlist">
                            <div class="row align-items-center">
                                <div class="col-lg-4 col-sm-4 col-8 flex-grow-1 col-name">
                                    <a class="itemside" href="#">
                                        <div class="left">
                                            <img src="/images/product-images/${product.image[0]}"
                                                class="img-sm img-thumbnail" alt="Item" />
                                        </div>
                                        <div class="info">
                                            <h6 class="mb-0">
                                                ${product.name}
                                            </h6>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-lg-2 col-sm-2 col-4 col-price"><span>
                                        ${product.price}
                                    </span></div>
                                <div class="col-lg-2 col-sm-2 col-4 col-status">
                                    <span class="badge rounded-pill alert-warning">Archived</span>
                                </div>
                                <div class="col-lg-1 col-sm-2 col-4 col-stock">
                                    <span>
                                        ${product.stock}
                                    </span>
                                </div>
                                <div class="col-lg-2 col-sm-2 col-4 col-action text-end">
                                    <div class="action-buttons">
                                        ${product.isList ? `
                                            <button type="button" class="btn list-unlist-btn btn-secondary btn-sm"
                                                style="padding: 5px; width: 50px" data-product-id="${product._id}"
                                                data-is-list="${product.isList}">
                                                Unlist
                                            </button>` :
                                `<button type="button" class="btn list-unlist-btn btn-secondary btn-sm"
                                                style="padding: 5px; width: 50px"
                                                data-product-id="${product._id}"
                                                data-is-list="${product.isList}">
                                                List
                                            </button>`
                            }
                                        <a href="/admin/edit-product/${product._id}">
                                            <button type="button" class="btn edit-btn btn-primary btn-sm"
                                                style="padding: 5px" data-product-id="${product._id}">
                                                Edit
                                            </button>
                                        </a>
                                        <button type="button" class="btn delete-btn btn-danger btn-sm"
                                            style="padding: 5px" data-product-id="${product._id}">
                                            Delete
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <!-- row .// -->
                        </article>
                        `;
                        productListDiv.innerHTML += productItem;

                    })
                }

                $(document).ready(function () {
                    $('.addOfferBtn').on('click', function () {
                        let button = $(this);
                        let productId = button.data('productid');
                        $('#offerModal').modal('show');

                        function applyOffer(offerId, productId) {
                            console.log(`offerid: ${offerId}, productid: ${productId}`);
                            fetch('/admin/apply-product-offer', {
                                method: 'POST',
                                headers: {
                                    'Content-Type': 'application/json'
                                },
                                body: JSON.stringify({ offerId: offerId, productId: productId })
                            })
                                .then(response => response.json())
                                .then(data => {
                                    if (data.success) {
                                        alert('Offer applied successfully');
                                        window.location.reload();
                                    }
                                })
                                .catch(error => {
                                    console.error('Error applying offer:', error);
                                });
                        }

                        $('#offerModal').find('.apply-btn').on('click', function () {
                            let offerId = $(this).data('offerid'); 
                            applyOffer(offerId, productId); 
                        });
                    });
                });

                function removeProductOffer(productId) {
                        fetch('/admin/remove-product-offer', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify({ productId: productId })
                        })
                            .then(response => response.json())
                            .then(data => {
                                if (data.success) {
                                    alert('Offer removed successfully');
                                    window.location.reload();
                                }
                            })
                    }

            </script>

            <%- include('../partials/adminPartials/adminFooter') -%>