<%- include('../partials/adminPartials/adminHead') -%>

<%- include('../partials/adminPartials/adminSideNavbar') -%>

<%- include('../partials/adminPartials/adminNavbarHead') -%>

<style>
    #imagePreview .image {
        height: 100px;
        width: 100px;
    }

    #imagePreview .image img{
        height: 100%;
        width: 100%;
    }

    #imagePreview .image span {
        position: absolute;
        cursor: pointer;
        font-size: 22px;
        color: rgb(255, 0, 0);
    }

    #imagePreview .image span:hover {
        opacity: 0.8;
    }

    #imagePreview .span--hidden{
        visibility: hidden;
    }
    
</style>

<section class="content-main">
    <div class="row">
        <div class="col-6">
            <div class="content-header">
                <h2 class="content-title">Add New Product</h2>
                <div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="card mb-4">
                <div class="card-body">
                    <form method="POST" action="/admin/add-product" enctype="multipart/form-data" id="add-product-form" class="needs-validation">
                        <div class="row">
                            <div class="col-md-3">
                                <h6>1. General info</h6>
                            </div>
                            <div class="col-md-9">
                                <div class="mb-4">
                                    <label class="form-label">Product Name</label>
                                    <input id="name" name="name" type="text" placeholder="Type here" class="form-control" required>
                                    <div class="invalid-feedback">Please enter a product name.</div>
                                </div>
                                <div class="mb-4">
                                    <label class="form-label">Description</label>
                                    <textarea id="description" name="description" placeholder="Type here" class="form-control" rows="4" required></textarea>
                                    <div class="invalid-feedback">Please enter product description.</div>
                                </div>
                                <div class="mb-4">
                                        <label class="form-label">Brand Name</label>
                                        <input id="brand" name="brand" type="text" placeholder="Type here" class="form-control" required>
                                        <div class="invalid-feedback">Please enter a brand name.</div>
                                </div>
                                <div class="mb-4">
                                    <label class="form-label">Size</label>
                                    <input id="size" name="size" type="text" placeholder="Type here" class="form-control" required>
                                    <div class="invalid-feedback">Please enter size.</div>
                            </div>
                            </div> <!-- col.// -->
                        </div> <!-- row.// -->
                        <hr class="mb-4 mt-0">
                        <div class="row">
                            <div class="col-md-3">
                                <h6>2. Pricing</h6>
                            </div>
                            <div class="col-md-9">
                                <div class="mb-4">
                                    <label class="form-label">Cost in Rupees</label>
                                    <input name="price" type="text" placeholder="00.0" class="form-control" required>
                                    <div class="invalid-feedback">Please enter the cost of product.</div>
                                </div>
                            </div> <!-- col.// -->
                        </div> <!-- row.// -->
                        <hr class="mb-4 mt-0">
                        <div class="row">
                            <div class="col-md-3">
                                <h6>3. Category</h6>
                            </div>
                            <div class="col-md-9">
                                <div class="mb-4">
                                    <select id="category" name="categoryId" class="form-select">
                                        <% for( let category of categories ) { %>
                                            <option value="<%= category._id %>"><%= category.name %></option>
                                        <% } %>
                                    </select>
                                </div>
                            </div> <!-- col.// -->
                        </div> <!-- row.// -->
                        <hr class="mb-4 mt-0">
                        <div class="row">
                            <div class="col-md-3">
                                <h6>4. Inventory</h6>
                            </div>
                            <div class="col-md-9">
                                <div class="mb-4">
                                    <label class="form-label">Stock quantity</label>
                                    <input id="stock" name="stock" type="text" placeholder="Type here" class="form-control" required>
                                    <div class="invalid-feedback">Please enter product stock quantity.</div>
                                </div>
                            </div> <!-- col.// -->
                        </div> <!-- row.// -->
                        <hr class="mb-4 mt-0">
                        <div class="row">
                            <div class="col-md-3">
                                <h6>5. Media</h6>
                            </div>
                            <div class="col-md-9">
                                <div class="mb-4">
                                    <label class="form-label">Images</label>
                                    <input name="images" id="inputImage" class="form-control" type="file" multiple="multiple" accept="image/jpeg, image/png, image/jpg" required>
                                    <div class="invalid-feedback">Please provide images</div>
                                </div>
                            </div> <!-- col.// -->
                        </div> 
                        <!-- Image preview div -->
                        <div id="imagePreview" class="row">
                        </div>
                        <hr class="mb-4 mt-0">
                        <div class="row">
                            <div class="col-md-3 offset-md-8">
                                <button type="submit" class="btn btn-md rounded font-sm">Add product</button>
                            </div> <!-- col.// -->
                        </div> <!-- .row end// -->
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>
</section> <!-- content-main end// -->

<script>
    const output = document.getElementById("imagePreview");
    const input = document.getElementById("inputImage");
    let imagesArray = [];

    input.addEventListener("change", () => {
        let allowedExtensions = 
            /\.(jpg|jpeg|png|)$/i;  
        const files = input.files;
        for (let i = 0; i < files.length; i++) {
            const file = files[i];
            const fileName = file.name;
            const fileSize = file.size;
            if (!allowedExtensions.test(fileName)){
                alert(`Invalid file type for ${fileName}. Only JPG, JPEG, or PNG files are allowed`);
                file = ''
            } else if (fileSize > 5 * 1024 * 1024) {
                alert(`File size exceeds 5MB limit for ${fileName}.`)
                file = ''
            } else {
                imagesArray.push(file);
            }
        }
        displayImages()
    });

    function displayImages() {
        let images = "";
        imagesArray.forEach((image, index) => {
            images += `<div class="col-md-3 m-3 image" >
                                <img src="${URL.createObjectURL(image)}" alt="image">
                                <span onclick="deleteImage(${index})">&times;</span>
                            </div>`
        })
        output.innerHTML = images;
    }

    function deleteImage(index) {
        imagesArray.splice(index, 1)
        displayImages()
    }
</script>


<%- include('../partials/adminPartials/adminFooter') -%>