<%- include('../partials/adminPartials/adminHead') -%>

    <%- include('../partials/adminPartials/adminSideNavbar') -%>

        <%- include('../partials/adminPartials/adminNavbarHead') -%>

            <section>
                <div class="card mb-4">
                    <header class="card-header">
                        <h4 class="card-title">Latest orders</h4>
                        <!-- <div class="row align-items-center">
                <div class="col-md-3 col-12 me-auto mb-md-0 mb-3">
                    <div class="custom_select">
                        <select class="form-select select-nice">
                            <option selected>All Categories</option>
                            <option>Women's Clothing</option>
                            <option>Men's Clothing</option>
                            <option>Cellphones</option>
                            <option>Computer & Office</option>
                            <option>Consumer Electronics</option>
                            <option>Jewelry & Accessories</option>
                            <option>Home & Garden</option>
                            <option>Luggage & Bags</option>
                            <option>Shoes</option>
                            <option>Mother & Kids</option>
                        </select>
                    </div>
                </div> -->
                        <!-- <div class="col-md-2 col-6">
                    <input type="date" value="02.05.2021" class="form-control" />
                </div> -->
                        <!-- <div class="col-md-2 col-6">
                    <div class="custom_select">
                        <select class="form-select select-nice">
                            <option selected>Status</option>
                            <option>All</option>
                            <option>Paid</option>
                            <option>Chargeback</option>
                            <option>Refund</option>
                        </select>
                    </div>
                </div> -->
                </div>
                </header>
                <div class="card-body">
                    <div class="table-responsive">
                        <div class="table-responsive">
                            <table class="table align-middle table-nowrap mb-0">
                                <thead class="table-light">
                                    <tr>
                                        <th class="align-middle" scope="col">Order ID</th>
                                        <th class="align-middle" scope="col">Billing Name</th>
                                        <th class="align-middle" scope="col">Date</th>
                                        <th class="align-middle" scope="col">Total</th>
                                        <th class="align-middle" scope="col">Order Status</th>
                                        <th class="align-middle" scope="col">Payment Method</th>
                                        <th class="align-middle" scope="col">View Details</th>
                                    </tr>
                                </thead>
                                <tbody id="orderListTable">
                                    <% if (orders && orders.length>0) { %>
                                        <% for( let order of orders ) { %>
                                            <tr>
                                                <td><a href="#" class="fw-bold">
                                                        <%= order.orderId %>
                                                    </a></td>
                                                <td>
                                                    <%= order.address.fullname %>
                                                </td>
                                                <td>
                                                    <%= order.createdAt.toDateString() %>
                                                </td>
                                                <td>₹ <%= order.totalPrice %>
                                                </td>
                                                <td>
                                                    <% if (order.orderStatus==='Pending' ) { %>
                                                        <span class="badge badge-pill badge-soft-warning">Pending</span>
                                                        <% } else if (order.orderStatus==='Placed' ) {%>
                                                            <span
                                                                class="badge badge-pill badge-soft-success">Placed</span>
                                                            <% } else if (order.orderStatus==='Canceled' ) {%>
                                                                <span
                                                                    class="badge badge-pill badge-soft-danger">Cancelled</span>
                                                                <% } %>
                                                </td>
                                                <td><i class="material-icons md-payment font-xxl text-muted mr-5"></i>
                                                    <%= order.paymentOption %>
                                                </td>
                                                <td>
                                                    <a href="/admin/order-details/<%= order._id %>" class="btn btn-xs">
                                                        View details</a>
                                                </td>
                                            </tr>
                                            <% } %>
                                                <% } %>

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- table-responsive end// -->
                </div>
                </div>
                <% if (totalPages) { %>
                    <div class="pagination-area mt-30 mb-50">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-start">
                                <% for (let i=1; i <=totalPages; i++) { %>
                                    <li class="page-item">
                                        <a class="page-link" href="javascript:void(0)" onclick="fetchOrder(<%= i %>)">
                                            <%= i %>
                                        </a>
                                    </li>
                                    <% } %>
                            </ul>
                        </nav>
                    </div>
                    <% } %>
            </section>

            <script>
                function fetchOrder(page) {
                    fetch(`/admin/orders?page=${page}`)
                        .then(response => {
                            if (!response.ok) {
                                throw new Error('Network response was not ok');
                            }
                            return response.json();
                        })
                        .then(data => {
                            console.log(data.orders);
                            updateOrderList(data.orders);
                        })
                        .catch(error => {
                            console.error('Error fetching orders:', error);
                        })
                }

                function updateOrderList(orders) {
                    let orderListTable = document.getElementById('orderListTable');
                    orderListTable.innerHTML = '';
                    orders.forEach(order => {
                        const orderDate = new Date(order.createdAt);
                        let orderItem = `
                        <tr>
                            <td><a href="#" class="fw-bold">
                                ${order.orderId}
                            </a></td>
                            <td>
                                ${order.address.fullname}
                            </td>
                            <td>
                                ${orderDate.toDateString()}
                            </td>
                            <td>₹ ${order.totalPrice}
                            </td>
                            <td>
                                ${order.orderStatus === 'Pending' 
                                    ? '<span class="badge badge-pill badge-soft-warning">Pending</span>' 
                                    : order.orderStatus === 'Placed' 
                                        ? '<span class="badge badge-pill badge-soft-success">Placed</span>' 
                                        : '<span class="badge badge-pill badge-soft-danger">Cancelled</span>'}
                            </td>
                            <td><i class="material-icons md-payment font-xxl text-muted mr-5"></i>
                                ${order.paymentOption}
                            </td>
                            <td>
                                <a href="/admin/order-details/${order._id}" class="btn btn-xs">
                                    View details</a>
                            </td>
                        </tr>`;
                        orderListTable.innerHTML += orderItem;
                    });
                }
            </script>


            <%- include('../partials/adminPartials/adminFooter') -%>