<%- include('../partials/userPartials/header') -%>

<script src="https://checkout.razorpay.com/v1/checkout.js"></script>


    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        <h4>Check Out</h4>
                        <div class="breadcrumb__links">
                            <a href="./index.html">Home</a>
                            <a href="./shop.html">Shop</a>
                            <span>Check Out</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Checkout Section Begin -->
    <section class="checkout spad">
        <div class="container">
            <div class="checkout__form">
                <form id="checkoutForm">
                    <div class="row">
                        <!-- Address selection section -->
                        <% if (cartData.items && cartData.items.length===0) { %>
                            <h2>Please add something to cart before proceeding to checkout</h2>
                            <% } else {%>
                                <div class="col-lg-7 col-md-5">
                                    <div class="checkout_address">
                                        <h6 class="checkout__title">Billing Address</h6>
                                        <% if (userData.address && userData.address.length> 0) {%>
                                            <% userData.address.forEach(address=> { %>
                                                <div class="card m-2">
                                                    <label>
                                                        <div class="card-body">
                                                            <input class="mb-3" type="radio" name="addressId"
                                                                value="<%= address._id %>" />
                                                            <p class="card-text">
                                                                Name: <strong>
                                                                    <%= address.fullname %>
                                                                </strong>,
                                                                Mobile: <strong>
                                                                    <%= address.mobile %>
                                                                </strong>,
                                                                Landmark: <strong>
                                                                    <%= address.landmark %>
                                                                </strong>,
                                                                City: <strong>
                                                                    <%= address.city %>
                                                                </strong>,
                                                                Pincode: <strong>
                                                                    <%= address.pincode %>
                                                                </strong>,
                                                                District: <strong>
                                                                    <%= address.district %>
                                                                </strong>,
                                                                State: <strong>
                                                                    <%= address.state %>
                                                                </strong>,
                                                            </p>
                                                        </div>
                                                    </label>
                                                </div>
                                                <% }) %>
                                                    <% } %>
                                    </div>
                                    <div class="p-2 ">
                                        <button type="button" class="btn site-btn float-right" data-toggle="modal"
                                            data-target="#addAddressModal">Add address</button>
                                    </div>
                                </div>
                                <!-- Checkout section -->
                                <div class="col-lg-5 col-md-7">
                                    <div class="checkout__order">
                                        <h4 class="order__title">Your order</h4>
                                        <table class="checkout__total__products">
                                            <thead>
                                                <tr>
                                                    <th class="px-3">Product</th>
                                                    <th class="px-3">Quantity</th>
                                                    <th class="px-3">Total</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% for( let item of cartData.items ) { %>
                                                    <% if (item.productId.isList==true && item.productId.stock>=
                                                        item.quantity) { %>
                                                        <% let totalPrice=item.productId.price * item.quantity %>
                                                            <tr>
                                                                <td class="px-3">
                                                                    <%= item.productId.name %>
                                                                </td>
                                                                <td class="px-3">
                                                                    <%= item.quantity %>
                                                                </td>
                                                                <td class="px-3">₹<%= totalPrice %>
                                                                </td>
                                                            </tr>
                                                            <% } %>
                                                                <% } %>
                                            </tbody>
                                        </table>

                                        <ul class="checkout__total__all">
                                            <li>Subtotal <span>₹ <%= totalCartPrice[0].total %></span></li>
                                            <li>Discount <span><% if( discounted ) { %>- ₹ <%= discounted.discountAmount %> <% } else { %>₹ 0<% } %></span></li>
                                            <% let totalAmount = 0 %>
                                            <% if( discounted ) { %>₹ <%=  totalAmount = discounted.discountedTotal %>
                                                <% } else { %>₹ <%= totalAmount = totalCartPrice[0].total %>
                                                        <% } %>
                                            <% let amountPayable = 0 %>
                                            <% if (totalAmount < 1000) { %>
                                                <% amountPayable = totalAmount+ 100 %>
                                                <li>Shipping charge <span>₹ 100</span></li>
                                            <% } else {%>
                                                <% amountPayable = totalAmount %>
                                                <li>Shipping charge <span>₹ 0</span></li>
                                            <% } %>
                                            <li>Payable amount <span id="total">
                                                ₹ <%= amountPayable %>
                                    </span></li>
                                        </ul>

                                        <p>Shipping charge is free for orders above 1000, otherwise, ₹100 will be charged for shipping</p>

                                        <p>Please select the payment option that you are comfortable with.</p>

                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="paymentOption"
                                                id="flexRadioDefault1" value="online">
                                            <label class="form-check-label" for="flexRadioDefault1">
                                                Online payment
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="paymentOption"
                                                id="flexRadioDefault2" value="cod" checked>
                                            <label class="form-check-label" for="flexRadioDefault2">
                                                Cash On Delivery
                                            </label>
                                        </div>
                                        <button id="placeOrderBtn" type="submit" class="site-btn">PLACE ORDER</button>
                                    </div>
                                </div>
                                <% } %>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <!-- Checkout Section End -->
    <%- include('../partials/userPartials/addAddressModal') -%>

        <script>
            const checkoutForm = document.getElementById('checkoutForm');
            checkoutForm.addEventListener('submit', async function (event) {
                event.preventDefault();

                const selectedAddress = document.querySelector('input[name="addressId"]:checked');
                if (!selectedAddress) {
                    Swal.fire({
                        icon: 'warning',
                        title: 'Oops...',
                        text: 'Please select an address!',
                    });
                    return;
                }

                const formData = new FormData(checkoutForm);
                console.log('formdata:', formData)

                try {
                    const response = await fetch('/place-order', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify(Object.fromEntries(formData)),
                    });

                    const json = await response.json();

                    if (json.success == true) {

                        Swal.fire({
                            icon: 'success',
                            title: 'Order Placed!',
                            text: 'Thank you for your order!',
                        });
                        window.location.replace("/order-confirmation");
                    } else if (json.success == false) {
                        razorpayPayment(json.razorpayOnlinePayment)
                    } else {

                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: 'Something went wrong! Please try again.',
                        });
                    }
                } catch (error) {
                    console.error('Error submitting form:', error);
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'Something went wrong! Please try again.',
                    });
                }
            });

            function razorpayPayment(order) {
                const rzpay_key = '<%= process.env.RAZORPAY_KEY_ID %>'

                var options = {
                    "key": rzpay_key,
                    "amount": order.amount, 
                    "currency": "INR",
                    "name": "Male Fashion",
                    "description": "Test Transaction",
                    "image": "https://example.com/your_logo",
                    "order_id": order.id, 
                    "handler": function (response) {
                        
                        verifyRazorpayPayment(response, order);

                    },
                    "notes": {
                        "address": "MaleFashion Office"
                    },
                    "theme": {
                        "color": "#000000"
                    }
                };
                var rzp1 = new Razorpay(options);
                rzp1.on('payment.failed', function (response) {
                    // alert(response.error.code);
                    // alert(response.error.description);
                    console.log('Payment failed:', response);
                    fetch('/razorpay-payment-failed', {
                        method: 'PATCH',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({
                            order_id: order.id
                        })
                    })
                    .then(response => {
                        console.log('Payment failure status updated successfully');
                        window.location.replace('/payment-failure')
                    })
                    .catch(error => {
                        console.error('Failed to update payment status:', error);
                    })
                });
                rzp1.open();
            }

            async function verifyRazorpayPayment(response, order) {
                try {
                    const responseJson = await fetch('/verify-razorpay-payment', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({
                            response: response,
                            order: order
                        })
                    })

                    const json = await responseJson.json();
                    console.log("json response of the fetch verifypayment: ", json);
                    console.log("OrderConfirmation url = /order-confirmation?orderId=" + json.orderId);

                    if (json.paymentVerified == true) {
                        window.location.replace("/order-confirmation?orderId=" + json.orderId);
                    } else {
                        window.location.replace("/payment-failure")
                    }
                } catch (error) {
                    alert(error)
                    console.error('Error verifying payment:', error);
                }

            }
        </script>




        <%- include('../partials/userPartials/footer') -%>