<%- include('../partials/userPartials/header') -%>


    <!-- Shop Details Section Begin -->
    <section class="shop-details">
        <div class="product__details__pic">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="product__details__breadcrumb">
                            <a href="./index.html">Home</a>
                            <a href="./shop.html">Shop</a>
                            <span>Product Details</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-3">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab">
                                    <div class="product__thumb__pic set-bg"
                                        data-setbg="/images/product-images/<%= product.image[0] %>">
                                    </div>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab">
                                    <div class="product__thumb__pic set-bg"
                                        data-setbg="/images/product-images/<%= product.image[1] %>">
                                    </div>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tabs-3" role="tab">
                                    <div class="product__thumb__pic set-bg"
                                        data-setbg="/images/product-images/<%= product.image[2] %>">
                                    </div>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tabs-4" role="tab">
                                    <div class="product__thumb__pic set-bg"
                                        data-setbg="/images/product-images/<%= product.image[3] %>">
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-6 col-md-9">
                        <div class="tab-content">
                            <div class="tab-pane active" id="tabs-1" role="tabpanel">
                                <div class="product__details__pic__item">
                                    <img src="/images/product-images/<%= product.image[0] %>" alt="">
                                </div>
                            </div>
                            <div class="tab-pane" id="tabs-2" role="tabpanel">
                                <div class="product__details__pic__item">
                                    <img src="/images/product-images/<%= product.image[1] %>" alt="">
                                </div>
                            </div>
                            <div class="tab-pane" id="tabs-3" role="tabpanel">
                                <div class="product__details__pic__item">
                                    <img src="/images/product-images/<%= product.image[2] %>" alt="">
                                </div>
                            </div>
                            <div class="tab-pane" id="tabs-4" role="tabpanel">
                                <div class="product__details__pic__item">
                                    <img src="/images/product-images/<%= product.image[3] %>" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="product__details__content">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-8">
                        <div class="product__details__text">
                            <h4>
                                <%= product.name %>
                            </h4>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                                <span> - 5 Reviews</span>
                            </div>
                            <h3>₹<%= product.price %><span>70.00</span></h3>
                            <p>
                                <%= product.description %>
                            </p>
                            <div class="product__details__option">
                                <div class="product__details__option__size">
                                    <span>Size:</span>
                                    <label class="active" for="size">
                                        <%= product.size %>
                                    </label>
                                </div>
                            </div>
                            <div class="product__details__cart__option">
                                <button class="primary-btn" data-product-id="<%= product._id %>">add to cart</button>
                            </div>
                            <div class="product__details__btns__option">
                                <button onclick="addToWishlist('<%= product._id %>')"><i class="fa fa-heart"></i> add to
                                    wishlist</button>
                            </div>
                            <div class="product__details__last__option">
                                <h5><span>Guaranteed Safe Checkout</span></h5>
                                <img src="user/img/shop-details/details-payment.png" alt="">
                                <ul>
                                    <li><span>SKU:</span> 3812912</li>
                                    <li><span>Categories:</span>
                                        <% if (product.category) { %>
                                            <%= product.category.name %>
                                                <% } else { %>
                                                    No category found
                                                    <% } %>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="product__details__tab">
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#tabs-6" role="tab">Customer
                                        Previews(5)</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Shop Details Section End -->

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var addToCartButtons = document.querySelectorAll('.primary-btn');

            addToCartButtons.forEach(function (button) {
                button.addEventListener('click', function (event) {
                    event.preventDefault();

                    var productId = this.getAttribute('data-product-id');

                    fetch('/add-to-cart', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({ productId: productId }),
                    })
                        .then(response => response.json())
                        .then(json => {
                            if (json.success == true) {
                                Swal.fire({
                                    icon: "success",
                                    title: "Product added to cart successfully",
                                    showConfirmButton: false,
                                    timer: 1500
                                });
                            }

                            console.log("Product added to cart successfully");
                        })
                        .then(response => {
                            if (response.status === 401) {
                                window.location.href = '/login';
                            }
                        })

                        .catch(error => {
                            console.error('Error adding product to cart', error);
                        });
                });
            });
        });

        function addToWishlist(productId) {
            fetch('/add-to-wishlist', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ productId: productId }),
            })
                .then(response => {
                    if (response.ok) {
                        alert('Product added to wishlist!');
                    } else {
                        alert('Failed to add product to wishlist');
                    }
                })
                .catch(error => {
                    console.error('Error adding product to wishlist:', error);
                    alert('An error occurred, please try again later');
                });
        }

    </script>


    <%- include('../partials/userPartials/footer') -%>